<div class="row-fluid" style="margin-bottom: 25px; border-bottom: 1px dashed; font-weight: bold; font-size: 200%;">
	<div class="span12">
		Enrolled In
	</div>
</div>
<% current_user.courses.each do |course| %>
<div class="row-fluid">
	<div class="span6">
		<b><%= course.name %></b>
	</div>
	<div class="span6" style="text-align: right;">
		<a href="/courses/<%= course.id %>">Go To Course</a>
	</div>
</div>
<% end %>

<div class="row-fluid" style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px dashed; font-weight: bold; font-size: 200%;">
	<div class="span12">
		Other Courses
	</div>
</div>

<% Course.order("name asc").each do |course| %>
<% unless course.user_ids.include? current_user.id %>
<div class="row-fluid">
	<div class="span6">
		<b><%= course.name %></b>
	</div>
	<div class="span6" style="text-align: right;">
		<a href="/courses/<%= course.id %>">Go To Course</a>
	</div>
</div>
<% end %>
<% end %>