<div class="row-fluid">
	<div class="span12" style="font-size: 200%; text-align: center; font-weight:bold;">
		SLIDESHOW IMAGES HERE
	</div>
</div>


<% @careers.each do |career| %>
<div class="row-fluid">
	<div class="span12" style="text-decoration: underline; font-weight: bold; font-size: 150%;">
		<%= career.career %>
	</div>
</div>
<div class="row-fluid" style="margin-bottom: 30px;">
		<% Course.careerCourseList(career.career).each do |course| %>
			<div class="span3">
				<a href="/courses/<%= course.id %>" class="btn btn-primary">
					<%= course.name %>
				</a>
			</div>
		<% end %>
</div>
<% end %>